@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');

html {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.flex-pad {
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid yellow;
}


.keyboard_container {
    font-family: 'Merriweather', serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    border: 1px solid blueviolet;
}
.btn-key {
    margin: 0.2rem;
    width: 9%;
    height: 5rem;
}


.num-container {
    font-family: 'Merriweather', serif;
    border: 1px solid red;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.num-key {
    margin: 0.1rem;
    width: 20%;
    height: 5rem;
}

